<h1>Memorize</h1>
<div id="search-area">
  <input type="text" placeholder="book"></input>
  <input type="number" placeholder="ch."></input>
  <input type="number" placeholder="verse"></input>
  <button type="submit">Search</button>
</div>
<div id="results">
