<h1>Look up Bible verses!</h1>

<div id="search-area">
  <input type="text" placeholder="book">
  <input type="number" placeholder="ch.">
  <input type="number" placeholder="verse">
  <button type="submit">Search</button>
</div>

<div id="verse-result">
  <%= firstResult %>
</div>
